.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.th {
    opacity: .6;
}

.tr {
    &:not(&_failed):nth-child(even) {
        background: rgba(0, 0, 0, .03);
    }

    &_failed {
        background: #ffbaba;
    }

}

.td, .th {
    padding: 7px;
}